
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo site -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" routerLink="/accueil">
        <img src="https://media.giphy.com/media/SggILpMXO7Xt6/giphy.gif" width="50" height="50" alt="Logo du site sortir.com">
      </a>
    </nav>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

<!-- ngIf user.admin == 1 option supp-->
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin-gestion-villes">Villes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-filtrer-sites">Campus</a>
        </li>
<!-- ngIf user.admin == 0 navbar utilisateur connecté-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/accueil">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Mon profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Se déconnecter</a>
        </li>

      </ul> 
    </div>
  </div>
</nav>

<!--Systeme de routage-->
<router-outlet></router-outlet>

<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 Copyright:
    <a class="text-dark" href="#">Sortir.com</a>
  </div>
</footer>