<h6>Filtrer les sorties</h6>

<form #f="ngForm" class="container">

<div class="row">

    <div class="col-md-4 my-2 align-self-start">
      <label for="campus" class="form-label">Campus</label>
      <select class="form-select" id="campus" name="campus">
        <option value="0">Open this select menu</option>
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-md-4 my-2 align-self-start">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="OrganisateurDeLaSortie" />
        <label class="form-check-label" for="OrganisateurDeLaSortie"> Sortie dont je suis l'organisateur/trice </label>
      </div>
      <br />
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="InscritACetteSortie" />
        <label class="form-check-label" for="InscritACetteSortie"> Sortie auxquelles je suis inscrit/e </label>
      </div>

      <div class="col-md-4 my-2 align-self-start"></div>
    </div>
</div>

<div class="row">

    <div class="col-md-4 my-2 align-self-start">
      <label for="sortie" class="form-label">Le nom de la sortie contient</label>
      <input type="email" class="form-control" id="sortie" placeholder="🔍search" />
    </div>

    <div class="col-md-4 my-2 align-self-start">
      <div class="form-check">
        <input  class="form-check-input" type="checkbox" value="" id="NonInscrit" />
        <label class="form-check-label" for="NonInscrit"> Sorties auxquelles je ne suis pas inscrit/e </label>
      </div>
      <br />
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="SortiesPassees"/>
        <label class="form-check-label" for="SortiesPassees"> Sortie passée </label>
      </div>
    </div>

    <div class="col-md-4 my-2 align-self-start"></div>
</div>
<div class="row">

    <div class="col-md-4 my-2 align-self-start">
      <label for="start">Entre&ensp;</label>
      <input type="date" id="start" name="start" />

      <label for="start">&ensp;et&ensp;</label>
      <input type="date" id="start" name="start" />
    </div>

    <div class="col-md-4 my-2 align-self-start"></div>

    <div class="col-md-4 my-2">
        <button type="submit" class="btn btn-light btn-lg m-4 p-3">Rechercher</button>
    </div>
</div>
</form>
